.header__time {
    position: absolute;
    width: 240px;
    height: 64px;
    left: 0px;
    top: 112px;
    padding: 10px;
    background: rgba(196, 196, 196, 0.3);
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.time__text {
    margin-right: 10px;
}
