.slider__cnt {
    background-image: url('../../assets/img/specBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 67.09px;
    position: relative;
    height: 629px;
}

.arr{
    position: absolute;
    content: '';
    height: 100%;
    width: 0.93px;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 19%;
    z-index: 2;
}

.arrTwo{
    left: 50%;
}

.arrThree{
    left: 77.2%;
}

.title__cnt {
    width: 100%;
    text-align: center;
}

.slider__title {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11.1823px;
    line-height: 13px;
    letter-spacing: 0.5em;
    color: #fff;
    padding-top: 40px;
}

.slider__wrapper {
    max-width: 1146px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* ========IMG========= */

.img__cnt {
    position: relative;
    z-index: 4;
}

.img__cnt::before{
    position: absolute;
    content: '';
    width: 194.96px;
    height: 209.82px;
    border: 18.6371px solid #E8C300;
    top: 25%;
    left: -13%;
    border-radius: 4.65928px;
}

/* ========================== */

.slider__info {
    padding-top: 109.3px;
    text-align: center;
    max-width: 559.11px;
}

.info__title{
    font-size: 33.5468px;
    line-height: 45px;
    color: #fff;
    font-family: 'Banny Round';
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 4.66px;
    padding-bottom: 7.18px;
    position: relative;
}

.info__title::after{
    position: absolute;
    content: '';
    width: 60.32px;
    height: 4.66px;
    background: #E8C300;
    border-radius: 46.5928px;  
    bottom: 0; 
    left: 45%;
}

.info__text,.info__textS {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16.7734px;
    line-height: 26px;
    font-style: normal;
    font-weight: bold;
}

.info__text{
    margin-bottom: 11.73px;
}

.info__textS {
    font-size: 13px;
    font-weight: 300;
    opacity: 0.6;
}


@media (max-width: 1250px) {
    .slider__wrapper {
        flex-wrap: wrap-reverse;
        max-width: 600px;
        margin: 0 auto;
    }

    .slider__info{
        padding-top: 20px;
    }

    .img__cnt {
        width: 256px;
        margin: 0 auto;
    }

    .img__cnt::before{
        position: absolute;
        content: '';
        width: 81.96px;
        height: 81.82px;
        border: 4.6371px solid #E8C300;
        top: 25%;
        left: -13%;
        border-radius: 4.65928px;
    }
}

